<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <p class="fw-bold text-white mb-2">Prairie Books Online</p>
        <p>Your local independent bookstore in Winnipeg, Manitoba.</p>
      </div>
      <div class="col-md-4">
        <p class="fw-bold text-white mb-2">Quick Links</p>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Books", books_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <p class="fw-bold text-white mb-2">Contact Us</p>
        <p>123 Main Street<br>Winnipeg, MB R3C 1A1<br>info@prairiebooks.ca</p>
      </div>
    </div>
    <hr class="border-secondary">
    <p class="text-center mb-0">&copy; <%= Time.now.year %> Prairie Books Online. All rights reserved.</p>
  </div>
</footer>