<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5 class="text-white">Prairie Books Online</h5>
        <p>Your local independent bookstore in Winnipeg, Manitoba.</p>
      </div>
      <div class="col-md-4">
        <h5 class="text-white">Quick Links</h5>
        <ul class="list-unstyled">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Books", books_path %></li>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5 class="text-white">Contact Us</h5>
        <p>123 Main Street<br>Winnipeg, MB R3C 1A1<br>info@prairiebooks.ca</p>
      </div>
    </div>
    <hr class="border-secondary">
    <p class="text-center mb-0">&copy; <%= Time.now.year %> Prairie Books Online. All rights reserved.</p>
  </div>
</footer>