<!DOCTYPE html>
<html>
  <head>
    <title>Prairie Books Online</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>
  <body>
    <%= render 'shared/navbar' %>

    <div class="flash-messages">
      <% flash.each do |type, message| %>
        <% alert_class = type == 'notice' ? 'success' : 'danger' %>
        <div class="alert alert-<%= alert_class %> alert-dismissible fade show" role="alert">
          <%= message %>
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
      <% end %>
    </div>

    <main>
      <%= yield %>
    </main>

    <%= render 'shared/footer' %>
  </body>
</html>